headersOrigin = "config"
redirectsOrigin = "config"
plugins = []

[dev]
command = "yarn dev"
port = 3000.0
targetPort = 3000.0
publish = "build"
autoLaunch = false

[functions]

[functions."*"]

[build]
publish = "/Users/alimran/my-realworld-app-playwright/build"
publishOrigin = "config"
commandOrigin = "config"
command = "yarn build"

[build.environment]
NODE_VERSION = "20"

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[[headers]]
for = "/*"

[headers.values]
X-Frame-Options = "DENY"
X-XSS-Protection = "1; mode=block"
X-Content-Type-Options = "nosniff"
Referrer-Policy = "strict-origin-when-cross-origin"

[[headers]]
for = "/assets/*"

[headers.values]
Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
for = "/*.js"

[headers.values]
Content-Type = "application/javascript; charset=utf-8"

[[headers]]
for = "/*.css"

[headers.values]
Content-Type = "text/css; charset=utf-8"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]